@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Noto+Sans+JP:400,900&display=swap&subset=japanese,latin-ext');

*{
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: -.04em;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 900;
  line-height: 1.45em;
  color: #4a4a4a
}
